.container {
    padding: 1rem 0 0 0;
    margin: 0 auto;
}
.containerRounded {
    border-radius: 10px;
    max-width: 1024px;
}
.content {
    margin: 0 auto;
    max-width: 960px;
}
.whiteSmoke {
    background-color: whiteSmoke;
}
.green {
    background-color: #7fb800;
}
.red {
    background-color: #e55934;
}
.lightgrey {
    background-color: lightgrey;
}
.greyStripe {
    background-color: #d3d3d3;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}