.logo {
    font-family: 'Monoton';
    font-size: 3rem;
    border: 2px solid whitesmoke;
}
#first {fill: #7fb800;}
#second {fill:#ffb400;}
#third {fill: white;}

.header {
    background-image: linear-gradient( 160deg, dodgerblue 30%, rgb(36, 92, 221) 100%);
    margin-bottom: 1rem;
    border-bottom: thick solid whitesmoke;
    box-shadow: 3px 3px 10px 0px #888888;
}
.headerContainer {
    margin: 0 auto;
    padding: 0 0 .5rem 1rem;
    max-width: 960px;
    overflow: hidden;
}

ul.topnav {
    list-style-type: none;
    margin: 1rem 1rem 0 1rem;
    float: right;
}
ul.topnav li {float: right;}

ul.topnav li a {
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid whitesmoke;
}
ul.topnav li a:hover {
    background-color: deepskyblue;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    ul.topnav {float: none; align-content: center; margin: .5rem .5rem 0 .5rem;}
}